---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

interface Book {
	data: {
		title: string;
		author: string;
		img: string;
		description: string;
		readtime: string;
	};
	slug: string;
}

const books: Book[] = await getCollection("books");
---

<Layout title="Devs Boooks">
	<main>
		<h1 class="text-center text-7xl font-extrabold mb-24">
			Dev 😎 <span class="block">Books</span>
		</h1>

		<section aria-label="Libros recomendados para devs">
			<div class="px-4 mx-autyo max-w-screen-xl">
				<div class="grid gap-6 md:grid-cols-2">
					{
						books.map((book: Book) => {
							const { data, slug } = book;
							const {
								title,
								author,
								img,
								description,
								readtime,
							} = data;

							return (
								<article class="flex">
									<a
										href={`/book/${slug}`}
										class="mb-2 xl:mb-0 transition hover:scale-110"
									>
										<img
											transition:name={`img-${slug}`}
											class="mr-5 w-48 rounded"
											src={`/${img}`}
											alt={title}
										/>
									</a>

									<div class="flex flex-col justify-center">
										<h2 class="text-2xl font-bold leading-tight text-white">
											{title}
										</h2>
										<p>{author}</p>
										<p class="mb-4 text-gray-400 max-w-sm">
											{description}
										</p>
										<span class="text-blue-500">
											Lecturas {readtime}
										</span>
									</div>
								</article>
							);
						})
					}
				</div>
			</div>
		</section>
	</main>
</Layout>
